[submodule "modules/backup"]
	path = modules/backup
	url = git@github.com:Diomeh/backup.git
[submodule "modules/cln"]
	path = modules/cln
	url = git@github.com:Diomeh/cln.git
[submodule "modules/copy"]
	path = modules/copy
	url = git@github.com:Diomeh/copy.git
[submodule "modules/hog"]
	path = modules/hog
	url = git@github.com:Diomeh/hog.git
[submodule "modules/paste"]
	path = modules/paste
	url = git@github.com:Diomeh/paste.git
[submodule "modules/srun"]
	path = modules/srun
	url = git@github.com:Diomeh/srun.git
[submodule "modules/xtract"]
	path = modules/xtract
	url = git@github.com:Diomeh/xtract.git
[submodule "modules/argparser"]
	path = modules/argparser
	url = git@github.com:Diomeh/argparser.git
